html, body, h1, h2, h3, h4, h5, h6, p, span, button, input, form, header, footer, section, nav, img, a, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.site-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* @include respond-to(lg) {
        padding-left: 55px;
        padding-right: 55px;
    }
    @include respond-to(md) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @include respond-to(sm) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @include respond-to(xs) {
        padding-left: 20px;
        padding-right: 20px;
    }*/ }

.content-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

@font-face {
  font-family: "Poppins-700";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Poppins-500";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Poppins-400";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "GTWalsheimBold";
  src: url("../fonts/GT Walsheim Bold.woff2") format("woff2"), url("../fonts/GT Walsheim Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "GTWalsheimMedium";
  src: url("../fonts/GT Walsheim Medium.woff2") format("woff2"), url("../fonts/GT Walsheim Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "GTWalsheimRegular";
  src: url("../fonts/GT Walsheim Regular.woff2") format("woff2"), url("../fonts/GT Walsheim Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "GTWalsheimLight";
  src: url("../fonts/GT Walsheim Light.woff2") format("woff2"), url("../fonts/GT Walsheim Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

#showRightPush {
  cursor: pointer;
  height: 26px;
  display: flex;
  align-items: center; }
  #showRightPush .toggle .patty {
    background: none repeat scroll 0 0 #FFF;
    height: 4px;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 26px;
    position: relative;
    display: block; }
    #showRightPush .toggle .patty::before {
      background: none repeat scroll 0 0 #FFF;
      content: "";
      display: inline-block;
      height: 4px;
      position: absolute;
      transition: all 0.3s ease 0s;
      width: 26px;
      z-index: -1;
      top: -10px; }
    #showRightPush .toggle .patty::after {
      background: none repeat scroll 0 0 #FFF;
      content: "";
      display: inline-block;
      height: 4px;
      position: absolute;
      transition: all 0.3s ease 0s;
      width: 26px;
      z-index: -1;
      top: 10px; }

/*.sidenav {
    position: absolute;
    top: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
    z-index: 1000;
}*/
#sidemenu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 0px;
  position: fixed;
  right: 80px;
  z-index: 1000;
  justify-content: center;
  align-items: center; }
  @media (max-width: 990px) {
    #sidemenu {
      right: 50px; } }
  @media (max-width: 575px) {
    #sidemenu {
      right: 30px; } }
  #sidemenu #nav .sidemenu__nav__item {
    margin: 0;
    transition: all 0.3s linear 0s;
    display: none;
    font-family: 'GTWalsheimMedium';
    font-size: 12px;
    color: #FFF;
    letter-spacing: 0.5;
    writing-mode: vertical-lr;
    align-items: center;
    justify-content: space-between; }
    #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__link {
      color: #FFF;
      text-decoration: none; }
    #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-line {
      width: 0px;
      height: 100px;
      border: 1px solid #FFF; }
      #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-line_down {
        margin-top: 50px; }
      #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-line_up {
        height: 50px;
        margin-bottom: 50px; }
    #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-tip {
      width: 15px;
      height: 15px;
      position: relative;
      border-bottom: 2px solid #FFF;
      border-right: 2px solid #FFF; }
      #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-tip_down {
        transform: rotate(45deg);
        top: -17px;
        right: 1px; }
      #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-tip_up {
        transform: rotate(-135deg);
        top: 17px;
        right: 1px; }
    #sidemenu #nav .sidemenu__nav__item.sidemenu__nav__item_current {
      display: flex; }

.homepage__slider {
  height: 500px;
  margin-top: 105px;
  cursor: grab;
  border: 2px solid yellow;
  width: 100%;
  overflow: hidden; }
  .homepage__slider__ribbon {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: inline-block;
    pointer-events: none;
    white-space: nowrap;
    height: 100%; }
    .homepage__slider__ribbon__slide {
      width: 100%;
      height: 100%;
      border: 3px solid blue;
      background-size: 100% auto;
      background-position: center center;
      display: inline-block;
      background-repeat: no-repeat; }
    .homepage__slider__ribbon__panel {
      position: relative;
      right: 300px;
      bottom: 100px; }

.slide-1 {
  background-image: url("../img/1.jpg"); }

.slide-2 {
  background-image: url("../img/2.jpg"); }

.slide-3 {
  background-image: url("../img/3.jpg"); }

.slide-4 {
  background-image: url("../img/4.jpg"); }

.homepage__slider_grabbed {
  cursor: grabbing; }

.header-container {
  /*   max-width: $site-width;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #BBB;*/
  background-color: #000; }

.header_right {
  position: fixed;
  top: 40px;
  right: 70px;
  z-index: 5000; }
  @media (max-width: 990px) {
    .header_right {
      right: 40px; } }
  @media (max-width: 575px) {
    .header_right {
      right: 20px; } }
  .header_right #search {
    margin-top: 27px;
    cursor: pointer; }
    .header_right #search img {
      height: 25px;
      width: 25px; }

.footer-container {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    .footer-container {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 990px) {
    .footer-container {
      padding-left: 35px;
      padding-right: 35px; } }
  @media (max-width: 768px) {
    .footer-container {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 575px) {
    .footer-container {
      padding-left: 25px;
      padding-right: 25px; } }
  .footer-container .footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%; }
    @media (max-width: 768px) {
      .footer-container .footer__columns {
        flex-wrap: wrap;
        justify-content: flex-start; } }
    .footer-container .footer__columns__column {
      margin-right: 30px;
      width: 20%;
      margin-bottom: 20px;
      position: relative; }
      @media (max-width: 768px) {
        .footer-container .footer__columns__column {
          width: 49%;
          margin-right: 0; } }
      .footer-container .footer__columns__column .footer__logo__container {
        width: 122px;
        height: 27px; }
        .footer-container .footer__columns__column .footer__logo__container .footer__logo {
          width: 100%; }
      @media (max-width: 768px) {
        .footer-container .footer__columns__column:nth-child(2) {
          display: none; } }
      .footer-container .footer__columns__column:nth-child(4) {
        display: none; }
        @media (max-width: 768px) {
          .footer-container .footer__columns__column:nth-child(4) {
            display: block; } }
      .footer-container .footer__columns__column:last-child {
        margin-right: 0; }
      .footer-container .footer__columns__column .column__header {
        font-family: 'GTWalsheimBold';
        font-size: 12pt;
        line-height: 14pt;
        margin-bottom: 20px;
        color: #3F7793; }
      .footer-container .footer__columns__column .column__text {
        font-family: 'GTWalsheimLight';
        color: #000;
        text-decoration: none;
        font-size: 12pt;
        line-height: 18pt; }
      .footer-container .footer__columns__column .column__button {
        background-color: #3F7793;
        width: 120px;
        height: 25px;
        border-radius: 12px;
        color: #FFF;
        font-family: 'GTWalsheimMedium';
        font-size: 10pt;
        margin-top: 10px;
        border: 2px solid #3F7793;
        cursor: pointer; }
        .footer-container .footer__columns__column .column__button:hover {
          color: #3F7793;
          background-color: white; }
      .footer-container .footer__columns__column .column__socials {
        margin-top: 20px;
        margin-left: -5px; }
        .footer-container .footer__columns__column .column__socials__item {
          display: inline-block;
          margin-right: 0px; }
          .footer-container .footer__columns__column .column__socials__item__logo {
            height: 45px;
            width: 45px; }
      .footer-container .footer__columns__column .column__assistant-link {
        display: none; }
        @media (max-width: 768px) {
          .footer-container .footer__columns__column .column__assistant-link {
            display: block;
            bottom: 0;
            position: absolute; } }
        .footer-container .footer__columns__column .column__assistant-link .column__assistant-image {
          width: 50px;
          height: 50px; }
    .footer-container .footer__columns .wide-colimn {
      margin-right: 60px; }

.margin-left {
  margin-left: 80px; }
  @media (max-width: 1200px) {
    .margin-left {
      margin-left: 70px; } }
  @media (max-width: 990px) {
    .margin-left {
      margin-left: 60px; } }
  @media (max-width: 768px) {
    .margin-left {
      margin-left: 50px; } }
  @media (max-width: 575px) {
    .margin-left {
      margin-left: 40px; } }

.homepage__hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .homepage__hero .homepage__hero__left-block {
    width: 42%; }
    .homepage__hero .homepage__hero__left-block .homepage__hero__logo {
      margin-top: 40px;
      width: 120px; }
      @media (max-width: 990px) {
        .homepage__hero .homepage__hero__left-block .homepage__hero__logo {
          margin-top: 40px;
          width: 100px; } }
    .homepage__hero .homepage__hero__left-block .homepage__hero__text-container {
      margin-top: 70px;
      padding-right: 90px;
      font-family: 'GTWalsheimRegular';
      color: #3F7793; }
      @media (max-width: 1200px) {
        .homepage__hero .homepage__hero__left-block .homepage__hero__text-container {
          padding-right: 40px; } }
      @media (max-width: 768px) {
        .homepage__hero .homepage__hero__left-block .homepage__hero__text-container {
          padding-right: 35px; } }
      @media (max-width: 575px) {
        .homepage__hero .homepage__hero__left-block .homepage__hero__text-container {
          padding-right: 25px; } }
      .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__title {
        font-family: 'GTWalsheimBold';
        font-size: 72px;
        line-height: 62px; }
        @media (max-width: 1200px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__title {
            font-size: 64px;
            line-height: 58px; } }
        @media (max-width: 990px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__title {
            font-size: 46px;
            line-height: 36px; } }
        @media (max-width: 768px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__title {
            font-size: 40px;
            line-height: 40px; } }
        @media (max-width: 575px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__title {
            font-size: 30px;
            line-height: 30px; } }
      .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__text {
        font-family: 'GTWalsheimBold';
        margin-top: 40px;
        font-size: 28px;
        line-height: 30px; }
        @media (max-width: 1200px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__text {
            font-size: 22px;
            line-height: 20px; } }
        @media (max-width: 990px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__text {
            margin-top: 30px;
            font-size: 20px;
            line-height: 20px; } }
        @media (max-width: 768px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__text {
            margin-top: 25px;
            font-size: 18px;
            line-height: 18px; } }
        @media (max-width: 575px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__text {
            margin-top: 25px;
            font-size: 15px;
            line-height: 15px; } }
      .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__link {
        margin-top: 80px;
        display: inline-block;
        font-size: 18px;
        text-decoration: underline;
        font-family: 'GTWalsheimMedium';
        color: #3F7793; }
        @media (max-width: 1400px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__link {
            margin-top: 70px; } }
        @media (max-width: 990px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__link {
            margin-top: 50px;
            font-size: 13px; } }
        @media (max-width: 768px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__link {
            margin-top: 30px;
            font-size: 12px; } }
        @media (max-width: 575px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__link {
            margin-top: 30px;
            font-size: 9px; } }
  .homepage__hero .homepage__hero__right-block {
    position: relative;
    margin-left: auto;
    width: 60%; }
    .homepage__hero .homepage__hero__right-block .homepage__hero__carousel {
      margin: 0;
      margin-top: 0;
      padding: 0;
      margin-left: 0;
      cursor: grab;
      display: flex;
      width: 100% !important;
      height: 600px !important; }
      @media (max-width: 1200px) {
        .homepage__hero .homepage__hero__right-block .homepage__hero__carousel {
          height: 550px !important; } }
      @media (max-width: 768px) {
        .homepage__hero .homepage__hero__right-block .homepage__hero__carousel {
          height: 550px !important; } }
      @media (max-width: 575px) {
        .homepage__hero .homepage__hero__right-block .homepage__hero__carousel {
          height: 450px !important; } }
    .homepage__hero .homepage__hero__right-block .homepage__hero__carousel_grabbed {
      cursor: grabbing; }

.homepage__our-divisions {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 80px; }
  @media (max-width: 990px) {
    .homepage__our-divisions {
      flex-direction: column; } }
  .homepage__our-divisions .homepage__our-divisions_header {
    font-family: 'GTWalsheimBold';
    color: #3F7793;
    font-size: 72px;
    line-height: 68px;
    width: calc(40% - 80px); }
    @media (max-width: 1200px) {
      .homepage__our-divisions .homepage__our-divisions_header {
        font-size: 64px;
        line-height: 58px;
        width: calc(45% + 120px); } }
    @media (max-width: 990px) {
      .homepage__our-divisions .homepage__our-divisions_header {
        font-size: 46px;
        line-height: 36px;
        width: auto; } }
    @media (max-width: 768px) {
      .homepage__our-divisions .homepage__our-divisions_header {
        font-size: 40px;
        line-height: 40px; } }
    @media (max-width: 575px) {
      .homepage__our-divisions .homepage__our-divisions_header {
        font-size: 30px;
        line-height: 30px; } }
  .homepage__our-divisions .homepage__our-divisions__logos {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-right: 30px; }
    @media (max-width: 1200px) {
      .homepage__our-divisions .homepage__our-divisions__logos {
        width: 100%;
        justify-content: space-around; } }
    @media (max-width: 990px) {
      .homepage__our-divisions .homepage__our-divisions__logos {
        flex-wrap: wrap;
        margin-left: 50px;
        padding-right: 50px;
        margin-top: 50px; } }
    @media (max-width: 575px) {
      .homepage__our-divisions .homepage__our-divisions__logos {
        justify-content: space-around; } }
    .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item {
      margin-top: 60px;
      max-width: 180px;
      position: relative;
      font-size: 0;
      margin-right: 100px;
      margin-bottom: 60px; }
      @media (max-width: 575px) {
        .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item:first-child {
          margin-right: 30px; } }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item:last-child {
        margin-right: 0px; }
        @media (max-width: 575px) {
          .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item:last-child {
            margin-right: 50px; } }
      @media (max-width: 575px) {
        .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item:nth-child(2) {
          margin-right: 30px; } }
      @media (max-width: 1200px) {
        .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item {
          margin-right: 40px; } }
      @media (max-width: 575px) {
        .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item {
          max-width: 130px;
          margin-right: 30px; } }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__link {
        font-family: 'GTWalsheimBold';
        color: #000;
        font-size: 12px;
        text-decoration: underline;
        float: left;
        letter-spacing: 0px; }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_eng {
        width: 110px;
        height: auto;
        margin-left: auto;
        position: absolute;
        top: -75px;
        right: -20px; }
        @media (max-width: 575px) {
          .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_eng {
            width: 79px;
            top: -52px;
            right: -15px; } }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_cx {
        width: 190px;
        height: auto;
        margin-left: auto;
        position: absolute;
        top: -80px;
        right: -52px; }
        @media (max-width: 575px) {
          .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_cx {
            width: 137px;
            top: -58px;
            right: -38px; } }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_cm {
        width: 150px;
        height: auto;
        margin-left: auto;
        position: absolute;
        top: -115px;
        right: -30px; }
        @media (max-width: 575px) {
          .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_cm {
            width: 108px;
            top: -85px;
            right: -20px; } }

.splide {
  margin-top: 70px;
  width: 100%;
  height: 520px;
  color: white;
  font-family: 'GTWalsheimMedium'; }
  .splide__text-container {
    max-width: 270px;
    min-width: 210px;
    position: relative;
    margin-right: 380px;
    margin-left: auto;
    padding-left: 30px;
    top: 100px; }
    .splide__text-container__year {
      font-size: 18px;
      line-height: 21px; }
      @media (max-width: 990px) {
        .splide__text-container__year {
          font-size: 17px;
          line-height: 20px; } }
      @media (max-width: 768px) {
        .splide__text-container__year {
          font-size: 15px;
          line-height: 17px; } }
      @media (max-width: 575px) {
        .splide__text-container__year {
          font-size: 13px;
          line-height: 14px; } }
    .splide__text-container__header {
      font-family: 'GTWalsheimBold';
      font-size: 72px;
      line-height: 62px;
      margin-top: 10px; }
      @media (max-width: 990px) {
        .splide__text-container__header {
          font-size: 68px;
          line-height: 58px; } }
      @media (max-width: 768px) {
        .splide__text-container__header {
          font-size: 58px;
          line-height: 48px; } }
      @media (max-width: 575px) {
        .splide__text-container__header {
          font-size: 48px;
          line-height: 38px; } }
    .splide__text-container__text {
      font-family: 'GTWalsheimBold';
      font-size: 18px;
      line-height: 21px;
      margin-top: 18px; }
      @media (max-width: 990px) {
        .splide__text-container__text {
          font-size: 17px;
          line-height: 20px; } }
      @media (max-width: 768px) {
        .splide__text-container__text {
          font-size: 15px;
          line-height: 17px; } }
      @media (max-width: 768px) {
        .splide__text-container__text {
          font-size: 13px;
          line-height: 14px; } }
    .splide__text-container__link {
      font-family: 'GTWalsheimBold';
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      margin-top: 15px;
      color: #FFF; }
      @media (max-width: 768px) {
        .splide__text-container__link {
          font-size: 10px;
          line-height: 12px; } }
      @media (max-width: 575px) {
        .splide__text-container__link {
          font-size: 8px;
          line-height: 10px; } }
  .splide .splide_1__pagination {
    height: 100px;
    margin-left: auto;
    max-width: 270px;
    min-width: 80px;
    margin-right: 180px;
    padding-left: 30px;
    padding-right: 0;
    justify-content: flex-start; }
    .splide .splide_1__pagination button {
      background-color: transparent;
      border: 2px solid white;
      width: 10px;
      height: 10px;
      box-sizing: border-box;
      margin: 7px; }
    .splide .splide_1__pagination button.is-active {
      box-sizing: border-box;
      border: none;
      background-color: white;
      width: 8px;
      height: 8px; }
  .splide__video {
    margin-left: auto;
    margin-right: auto;
    height: 520px; }

.homepage__connect {
  padding-bottom: 60px;
  width: 100%;
  min-height: 366px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #3F7793;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px; }
  @media (max-width: 768px) {
    .homepage__connect {
      padding-left: 15px;
      padding-right: 15px; } }
  .homepage__connect .homepage__connect__item {
    position: relative;
    margin-top: 60px;
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;
    margin-right: 30px; }
    .homepage__connect .homepage__connect__item:last-child {
      margin-right: 0; }
    @media (max-width: 768px) {
      .homepage__connect .homepage__connect__item:nth-child(3) {
        margin-right: 30px; } }
    @media (max-width: 768px) {
      .homepage__connect .homepage__connect__item:nth-child(2) {
        order: 3;
        margin-right: 0px; } }
    .homepage__connect .homepage__connect__item__logo_join {
      width: 100px;
      height: auto;
      position: absolute; }
    .homepage__connect .homepage__connect__item__logo_stay {
      width: 160px;
      height: auto;
      position: absolute;
      top: -45px; }
    .homepage__connect .homepage__connect__item__logo_get {
      width: 100px;
      height: auto;
      position: absolute;
      top: -10px; }
    .homepage__connect .homepage__connect__item__header {
      font-family: 'GTWalsheimRegular';
      font-size: 22pt;
      line-height: 30pt;
      letter-spacing: -6%; }
    .homepage__connect .homepage__connect__item__header_join {
      margin-top: 95px; }
    .homepage__connect .homepage__connect__item__header_stay {
      margin-top: 75px; }
    .homepage__connect .homepage__connect__item__header_get {
      margin-top: 75px; }
    .homepage__connect .homepage__connect__item__text {
      font-family: 'GTWalsheimLight';
      font-size: 12pt;
      line-height: 15pt;
      margin-top: 20px;
      text-align: center; }
    .homepage__connect .homepage__connect__item__form {
      width: 100%; }
      .homepage__connect .homepage__connect__item__form__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #FFF;
        margin-top: 15px;
        background: none;
        color: white;
        outline: none; }
        .homepage__connect .homepage__connect__item__form__input::placeholder {
          color: #FFF; }
      .homepage__connect .homepage__connect__item__form__button {
        background-color: #3F7793;
        width: 100%;
        height: 25px;
        border-radius: 12px;
        color: #FFF;
        font-family: 'GTWalsheimMedium';
        font-size: 10pt;
        margin-top: 20px;
        border: 2px solid white;
        cursor: pointer; }
      .homepage__connect .homepage__connect__item__form__button:hover {
        background-color: white;
        background-color: white;
        color: #3F7793; }
    .homepage__connect .homepage__connect__item__link {
      font-family: 'GTWalsheimBold';
      color: #FFF;
      font-size: 12pt;
      line-height: 14pt;
      margin-top: 20px;
      text-decoration: underline; }

html {
  scroll-behavior: smooth; }

/*# sourceMappingURL=bundle.css.map */
