/*
$red: #F15D5B;
$gray: #575A5E;
$dark: #0B1F47; 
*/
/*
$white: #fff;
$black: #000;
$dark-blue: #0A1045;
$blue-06: #0F186B;
$grey-bg: #F7F8FA;
$green: #5EEACF;
$border: #CCCED7;
 */
html, body, h1, h2, h3, h4, h5, h6, p, span, button, input, form, header, footer, section, nav, img, a, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'GTWalsheimRegular'; }

.site-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* @include respond-to(lg) {
        padding-left: 55px;
        padding-right: 55px;
    }
    @include respond-to(md) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @include respond-to(sm) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @include respond-to(xs) {
        padding-left: 20px;
        padding-right: 20px;
    }*/ }

.content-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.green {
  color: #00C496; }

.blue {
  color: #009CCD; }

.orange {
  color: #FB9A2D; }

.fade-block {
  z-index: 1000;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  pointer-events: none; }
  .fade-block.fade {
    opacity: .5; }

@font-face {
  font-family: "Poppins-700";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Poppins-500";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Poppins-400";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "GTWalsheimBold";
  src: url("../fonts/GT Walsheim Bold.woff2") format("woff2"), url("../fonts/GT Walsheim Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "GTWalsheimMedium";
  src: url("../fonts/GT Walsheim Medium.woff2") format("woff2"), url("../fonts/GT Walsheim Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "GTWalsheimRegular";
  src: url("../fonts/GT Walsheim Regular.woff2") format("woff2"), url("../fonts/GT Walsheim Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "GTWalsheimLight";
  src: url("../fonts/GT Walsheim Light.woff2") format("woff2"), url("../fonts/GT Walsheim Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.button_black, .connect > div > form > button, .gallery_projects .submit-area > button, .lets-shop > div > form > button, .footer-container .footer__columns__column .column__button {
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
  height: 25px;
  border-radius: 12px;
  color: #FFF;
  font-family: 'GTWalsheimMedium';
  font-size: 10pt;
  margin-top: 20px;
  border: 2px solid #000;
  cursor: pointer; }

#showRightPush {
  cursor: pointer;
  height: 26px;
  display: flex;
  align-items: center; }
  #showRightPush .toggle .patty {
    background: none repeat scroll 0 0 #FFF;
    height: 4px;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 26px;
    position: relative;
    display: block; }
    #showRightPush .toggle .patty::before {
      background: none repeat scroll 0 0 #FFF;
      content: "";
      display: inline-block;
      height: 4px;
      position: absolute;
      transition: all 0.3s ease 0s;
      width: 26px;
      z-index: -1;
      top: -10px; }
    #showRightPush .toggle .patty::after {
      background: none repeat scroll 0 0 #FFF;
      content: "";
      display: inline-block;
      height: 4px;
      position: absolute;
      transition: all 0.3s ease 0s;
      width: 26px;
      z-index: -1;
      top: 10px; }

/*.sidenav {
    position: absolute;
    top: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
    z-index: 1000;
}*/
#sidemenu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 0px;
  position: fixed;
  right: 80px;
  z-index: 1000;
  justify-content: center;
  align-items: center; }
  @media (max-width: 990px) {
    #sidemenu {
      right: 50px; } }
  @media (max-width: 575px) {
    #sidemenu {
      right: 30px; } }
  #sidemenu #nav {
    padding-left: 10px; }
    #sidemenu #nav .sidemenu__nav__item {
      margin: 0;
      transition: all 0.3s linear 0s;
      display: none;
      font-family: 'GTWalsheimMedium';
      font-size: 12px;
      color: #FFF;
      letter-spacing: 0.5;
      writing-mode: vertical-lr;
      align-items: center;
      justify-content: space-between; }
      #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__link {
        color: #FFF;
        text-decoration: none; }
      #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-line {
        width: 0px;
        height: 100px;
        border: 1px solid #FFF; }
        #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-line_down {
          margin-top: 50px; }
        #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-line_up {
          height: 50px;
          margin-bottom: 50px; }
      #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-tip {
        width: 15px;
        height: 15px;
        position: relative;
        border-bottom: 2px solid #FFF;
        border-right: 2px solid #FFF; }
        #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-tip_down {
          transform: rotate(45deg);
          top: -17px;
          right: 1px; }
        #sidemenu #nav .sidemenu__nav__item .sidemenu__nav__arrow-tip_up {
          transform: rotate(-135deg);
          top: 17px;
          right: 1px; }
      #sidemenu #nav .sidemenu__nav__item.sidemenu__nav__item_current {
        display: flex; }

.homepage__slider {
  height: 500px;
  margin-top: 105px;
  cursor: grab;
  border: 2px solid yellow;
  width: 100%;
  overflow: hidden; }
  .homepage__slider__ribbon {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: inline-block;
    pointer-events: none;
    white-space: nowrap;
    height: 100%; }
    .homepage__slider__ribbon__slide {
      width: 100%;
      height: 100%;
      border: 3px solid blue;
      background-size: 100% auto;
      background-position: center center;
      display: inline-block;
      background-repeat: no-repeat; }
    .homepage__slider__ribbon__panel {
      position: relative;
      right: 300px;
      bottom: 100px; }

.slide-1 {
  background-image: url("../img/1.jpg"); }

.slide-2 {
  background-image: url("../img/2.jpg"); }

.slide-3 {
  background-image: url("../img/3.jpg"); }

.slide-4 {
  background-image: url("../img/4.jpg"); }

.homepage__slider_grabbed {
  cursor: grabbing; }

.our-divisions {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 80px; }
  @media (max-width: 990px) {
    .our-divisions {
      flex-direction: column; } }
  .our-divisions > h2 {
    font-family: 'GTWalsheimBold';
    color: #29788C;
    font-size: 72px;
    line-height: 68px;
    width: calc(40% - 80px); }
    @media (max-width: 1200px) {
      .our-divisions > h2 {
        font-size: 64px;
        line-height: 58px;
        width: calc(45% + 120px); } }
    @media (max-width: 990px) {
      .our-divisions > h2 {
        font-size: 46px;
        line-height: 36px;
        width: auto; } }
    @media (max-width: 768px) {
      .our-divisions > h2 {
        font-size: 40px;
        line-height: 40px; } }
    @media (max-width: 575px) {
      .our-divisions > h2 {
        font-size: 30px;
        line-height: 30px; } }
  .our-divisions > div:nth-of-type(1) {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-right: 30px; }
    @media (max-width: 1200px) {
      .our-divisions > div:nth-of-type(1) {
        width: 100%;
        justify-content: space-around; } }
    @media (max-width: 990px) {
      .our-divisions > div:nth-of-type(1) {
        flex-wrap: wrap;
        margin-left: 50px;
        padding-right: 50px;
        margin-top: 50px; } }
    @media (max-width: 575px) {
      .our-divisions > div:nth-of-type(1) {
        justify-content: space-around; } }
    .our-divisions > div:nth-of-type(1) > div {
      margin-top: 60px;
      max-width: 180px;
      position: relative;
      font-size: 0;
      margin-right: 50px;
      margin-bottom: 60px; }
      @media (max-width: 575px) {
        .our-divisions > div:nth-of-type(1) > div:first-child {
          margin-right: 30px; } }
      .our-divisions > div:nth-of-type(1) > div:last-child {
        margin-right: 0px; }
        @media (max-width: 575px) {
          .our-divisions > div:nth-of-type(1) > div:last-child {
            margin-right: 50px; } }
      @media (max-width: 575px) {
        .our-divisions > div:nth-of-type(1) > div:nth-child(2) {
          margin-right: 30px; } }
      @media (max-width: 1200px) {
        .our-divisions > div:nth-of-type(1) > div {
          margin-right: 40px; } }
      @media (max-width: 575px) {
        .our-divisions > div:nth-of-type(1) > div {
          max-width: 130px;
          margin-right: 30px; } }
      .our-divisions > div:nth-of-type(1) > div > a {
        font-family: 'GTWalsheimBold';
        font-size: 12px;
        text-decoration: underline;
        float: left;
        letter-spacing: 0px; }
      .our-divisions > div:nth-of-type(1) > div > .our-divisions__logo_eng {
        width: 110px;
        height: auto;
        margin-left: auto;
        position: absolute;
        top: -75px;
        right: -20px; }
        @media (max-width: 575px) {
          .our-divisions > div:nth-of-type(1) > div > .our-divisions__logo_eng {
            width: 79px;
            top: -52px;
            right: -15px; } }
      .our-divisions > div:nth-of-type(1) > div > .our-divisions__logo_cx {
        width: 190px;
        height: auto;
        margin-left: auto;
        position: absolute;
        top: -80px;
        right: -52px; }
        @media (max-width: 575px) {
          .our-divisions > div:nth-of-type(1) > div > .our-divisions__logo_cx {
            width: 137px;
            top: -58px;
            right: -38px; } }
      .our-divisions > div:nth-of-type(1) > div > .our-divisions__logo_cm {
        width: 150px;
        height: auto;
        margin-left: auto;
        position: absolute;
        top: -115px;
        right: -30px; }
        @media (max-width: 575px) {
          .our-divisions > div:nth-of-type(1) > div > .our-divisions__logo_cm {
            width: 108px;
            top: -85px;
            right: -20px; } }

.hero_carousel {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .hero_carousel > div:nth-of-type(1) {
    width: 42%; }
    .hero_carousel > div:nth-of-type(1) > img {
      margin-top: 40px;
      width: 120px; }
      @media (max-width: 990px) {
        .hero_carousel > div:nth-of-type(1) > img {
          margin-top: 40px;
          width: 100px; } }
    .hero_carousel > div:nth-of-type(1) > div {
      margin-top: 70px;
      padding-right: 90px;
      font-family: 'GTWalsheimRegular';
      color: #29788C; }
      @media (max-width: 1200px) {
        .hero_carousel > div:nth-of-type(1) > div {
          padding-right: 40px; } }
      @media (max-width: 768px) {
        .hero_carousel > div:nth-of-type(1) > div {
          padding-right: 35px; } }
      @media (max-width: 575px) {
        .hero_carousel > div:nth-of-type(1) > div {
          padding-right: 25px; } }
      .hero_carousel > div:nth-of-type(1) > div > h1 {
        font-family: 'GTWalsheimBold';
        font-size: 72px;
        line-height: 62px; }
        @media (max-width: 1200px) {
          .hero_carousel > div:nth-of-type(1) > div > h1 {
            font-size: 64px;
            line-height: 58px; } }
        @media (max-width: 990px) {
          .hero_carousel > div:nth-of-type(1) > div > h1 {
            font-size: 46px;
            line-height: 36px; } }
        @media (max-width: 768px) {
          .hero_carousel > div:nth-of-type(1) > div > h1 {
            font-size: 40px;
            line-height: 40px; } }
        @media (max-width: 575px) {
          .hero_carousel > div:nth-of-type(1) > div > h1 {
            font-size: 30px;
            line-height: 30px; } }
      .hero_carousel > div:nth-of-type(1) > div > span {
        font-family: 'GTWalsheimBold';
        margin-top: 40px;
        font-size: 28px;
        line-height: 30px;
        display: block; }
        @media (max-width: 1200px) {
          .hero_carousel > div:nth-of-type(1) > div > span {
            font-size: 22px;
            line-height: 20px; } }
        @media (max-width: 990px) {
          .hero_carousel > div:nth-of-type(1) > div > span {
            margin-top: 30px;
            font-size: 20px;
            line-height: 20px; } }
        @media (max-width: 768px) {
          .hero_carousel > div:nth-of-type(1) > div > span {
            margin-top: 25px;
            font-size: 18px;
            line-height: 18px; } }
        @media (max-width: 575px) {
          .hero_carousel > div:nth-of-type(1) > div > span {
            margin-top: 25px;
            font-size: 15px;
            line-height: 15px; } }
      .hero_carousel > div:nth-of-type(1) > div > a {
        margin-top: 80px;
        display: inline-block;
        font-size: 18px;
        text-decoration: underline;
        font-family: 'GTWalsheimMedium';
        color: #29788C; }
        @media (max-width: 1400px) {
          .hero_carousel > div:nth-of-type(1) > div > a {
            margin-top: 70px; } }
        @media (max-width: 990px) {
          .hero_carousel > div:nth-of-type(1) > div > a {
            margin-top: 50px;
            font-size: 13px; } }
        @media (max-width: 768px) {
          .hero_carousel > div:nth-of-type(1) > div > a {
            margin-top: 30px;
            font-size: 12px; } }
        @media (max-width: 575px) {
          .hero_carousel > div:nth-of-type(1) > div > a {
            margin-top: 30px;
            font-size: 9px; } }
  .hero_carousel > div:nth-of-type(2) {
    position: relative;
    margin-left: auto;
    width: 60%; }
    .hero_carousel > div:nth-of-type(2) > .carousel_max {
      margin: 0;
      margin-top: 0;
      padding: 0;
      margin-left: 0;
      cursor: grab;
      display: flex;
      width: 100% !important;
      height: 600px !important; }
      @media (max-width: 1200px) {
        .hero_carousel > div:nth-of-type(2) > .carousel_max {
          height: 550px !important; } }
      @media (max-width: 768px) {
        .hero_carousel > div:nth-of-type(2) > .carousel_max {
          height: 550px !important; } }
      @media (max-width: 575px) {
        .hero_carousel > div:nth-of-type(2) > .carousel_max {
          height: 450px !important; } }
    .hero_carousel > div:nth-of-type(2) .carousel_max_grabbed {
      cursor: grabbing; }

.hero_image {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .hero_image > div:nth-of-type(1) {
    width: 42%; }
    .hero_image > div:nth-of-type(1) > img {
      margin-top: 40px;
      width: 120px; }
      @media (max-width: 990px) {
        .hero_image > div:nth-of-type(1) > img {
          margin-top: 40px;
          width: 100px; } }
    .hero_image > div:nth-of-type(1) > div {
      margin-top: 70px;
      padding-right: 90px;
      font-family: 'GTWalsheimRegular';
      color: #29788C; }
      @media (max-width: 1200px) {
        .hero_image > div:nth-of-type(1) > div {
          padding-right: 40px; } }
      @media (max-width: 768px) {
        .hero_image > div:nth-of-type(1) > div {
          padding-right: 35px; } }
      @media (max-width: 575px) {
        .hero_image > div:nth-of-type(1) > div {
          padding-right: 25px; } }
      .hero_image > div:nth-of-type(1) > div > h1 {
        font-family: 'GTWalsheimBold';
        font-size: 72px;
        line-height: 62px; }
        @media (max-width: 1200px) {
          .hero_image > div:nth-of-type(1) > div > h1 {
            font-size: 64px;
            line-height: 58px; } }
        @media (max-width: 990px) {
          .hero_image > div:nth-of-type(1) > div > h1 {
            font-size: 46px;
            line-height: 36px; } }
        @media (max-width: 768px) {
          .hero_image > div:nth-of-type(1) > div > h1 {
            font-size: 40px;
            line-height: 40px; } }
        @media (max-width: 575px) {
          .hero_image > div:nth-of-type(1) > div > h1 {
            font-size: 30px;
            line-height: 30px; } }
      .hero_image > div:nth-of-type(1) > div > span {
        font-family: 'GTWalsheimBold';
        margin-top: 40px;
        font-size: 28px;
        line-height: 30px;
        display: block; }
        @media (max-width: 1200px) {
          .hero_image > div:nth-of-type(1) > div > span {
            font-size: 22px;
            line-height: 20px; } }
        @media (max-width: 990px) {
          .hero_image > div:nth-of-type(1) > div > span {
            margin-top: 30px;
            font-size: 20px;
            line-height: 20px; } }
        @media (max-width: 768px) {
          .hero_image > div:nth-of-type(1) > div > span {
            margin-top: 25px;
            font-size: 18px;
            line-height: 18px; } }
        @media (max-width: 575px) {
          .hero_image > div:nth-of-type(1) > div > span {
            margin-top: 25px;
            font-size: 15px;
            line-height: 15px; } }
      .hero_image > div:nth-of-type(1) > div > a {
        margin-top: 80px;
        display: inline-block;
        font-size: 18px;
        text-decoration: underline;
        font-family: 'GTWalsheimMedium';
        color: #29788C; }
        @media (max-width: 1400px) {
          .hero_image > div:nth-of-type(1) > div > a {
            margin-top: 70px; } }
        @media (max-width: 990px) {
          .hero_image > div:nth-of-type(1) > div > a {
            margin-top: 50px;
            font-size: 13px; } }
        @media (max-width: 768px) {
          .hero_image > div:nth-of-type(1) > div > a {
            margin-top: 30px;
            font-size: 12px; } }
        @media (max-width: 575px) {
          .hero_image > div:nth-of-type(1) > div > a {
            margin-top: 30px;
            font-size: 9px; } }
  .hero_image > div:nth-of-type(2) {
    position: relative;
    margin-left: auto;
    width: 60%;
    overflow: hidden; }
    .hero_image > div:nth-of-type(2) > img {
      width: 100%;
      max-width: 600px;
      object-fit: cover; }

.connect {
  padding-bottom: 60px;
  width: 100%;
  min-height: 366px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #29788C;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px; }
  @media (max-width: 768px) {
    .connect {
      padding-left: 15px;
      padding-right: 15px; } }
  .connect > div {
    position: relative;
    margin-top: 60px;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;
    margin-right: 30px; }
    .connect > div:last-child {
      margin-right: 0; }
    @media (max-width: 768px) {
      .connect > div:nth-child(3) {
        margin-right: 30px; } }
    @media (max-width: 768px) {
      .connect > div:nth-child(2) {
        order: 3;
        margin-right: 0px; } }
    .connect > div lottie-player {
      height: auto;
      position: absolute; }
    .connect > div > .logo_join {
      width: 100px; }
    .connect > div > .logo_stay {
      width: 160px;
      top: -45px; }
    .connect > div > .logo_get {
      width: 100px;
      top: -10px; }
    .connect > div > h3 {
      font-family: 'GTWalsheimRegular';
      font-size: 22pt;
      line-height: 30pt;
      letter-spacing: -6%;
      margin-top: 75px; }
    .connect > div:nth-child(1) > h3 {
      margin-top: 95px; }
    .connect > div > p {
      font-family: 'GTWalsheimLight';
      font-size: 12pt;
      line-height: 15pt;
      margin-top: 20px;
      text-align: center; }
    .connect > div > form {
      width: 100%; }
      .connect > div > form > input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #FFF;
        margin-top: 15px;
        background: none;
        color: white;
        outline: none; }
        .connect > div > form > input::placeholder {
          color: #FFF; }
      .connect > div > form > button {
        width: 100%; }
      .connect > div > form__button:hover {
        background-color: white;
        border-color: #FFF;
        color: #29788C; }
    .connect > div > a {
      font-family: 'GTWalsheimBold';
      color: #FFF;
      font-size: 12pt;
      line-height: 14pt;
      margin-top: 20px;
      text-decoration: underline; }

.splide {
  margin-top: 70px;
  width: 100%;
  height: 520px;
  color: white;
  font-family: 'GTWalsheimMedium'; }
  .splide > div > div > div > div {
    max-width: 270px;
    min-width: 210px;
    position: relative;
    margin-right: 180px;
    margin-left: auto;
    padding-left: 30px;
    top: 100px; }
    .splide > div > div > div > div > span {
      font-size: 18px;
      line-height: 21px; }
      @media (max-width: 990px) {
        .splide > div > div > div > div > span {
          font-size: 17px;
          line-height: 20px; } }
      @media (max-width: 768px) {
        .splide > div > div > div > div > span {
          font-size: 15px;
          line-height: 17px; } }
      @media (max-width: 575px) {
        .splide > div > div > div > div > span {
          font-size: 13px;
          line-height: 14px; } }
    .splide > div > div > div > div > h4 {
      font-family: 'GTWalsheimBold';
      font-size: 72px;
      line-height: 62px;
      margin-top: 10px; }
      @media (max-width: 990px) {
        .splide > div > div > div > div > h4 {
          font-size: 68px;
          line-height: 58px; } }
      @media (max-width: 768px) {
        .splide > div > div > div > div > h4 {
          font-size: 58px;
          line-height: 48px; } }
      @media (max-width: 575px) {
        .splide > div > div > div > div > h4 {
          font-size: 48px;
          line-height: 38px; } }
    .splide > div > div > div > div > p {
      font-family: 'GTWalsheimBold';
      font-size: 18px;
      line-height: 21px;
      margin-top: 18px; }
      @media (max-width: 990px) {
        .splide > div > div > div > div > p {
          font-size: 17px;
          line-height: 20px; } }
      @media (max-width: 768px) {
        .splide > div > div > div > div > p {
          font-size: 15px;
          line-height: 17px; } }
      @media (max-width: 768px) {
        .splide > div > div > div > div > p {
          font-size: 13px;
          line-height: 14px; } }
    .splide > div > div > div > div > a {
      font-family: 'GTWalsheimBold';
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      margin-top: 15px;
      color: #FFF; }
      @media (max-width: 768px) {
        .splide > div > div > div > div > a {
          font-size: 10px;
          line-height: 12px; } }
      @media (max-width: 575px) {
        .splide > div > div > div > div > a {
          font-size: 8px;
          line-height: 10px; } }
  .splide .splide__pagination {
    position: relative;
    top: -18%;
    height: 10px;
    margin-right: 155px;
    margin-left: auto;
    max-width: 270px;
    min-width: 80px;
    padding-left: 30px;
    padding-right: 0;
    justify-content: flex-start; }
    .splide .splide__pagination button {
      background-color: transparent;
      border: 2px solid white;
      width: 10px;
      height: 10px;
      box-sizing: border-box;
      margin: 7px; }
    .splide .splide__pagination button.is-active {
      box-sizing: border-box;
      border: none;
      background-color: white;
      width: 8px;
      height: 8px; }
  .splide .splide__video {
    margin-left: auto;
    margin-right: auto;
    height: 520px; }

.text_1 {
  margin-top: 60px; }
  .text_1 > h3 {
    font-family: "GTWalsheimBold";
    font-size: 24pt;
    color: #29788C;
    margin-right: 40px; }
    @media (max-width: 1200px) {
      .text_1 > h3 {
        font-size: 20pt; } }
    @media (max-width: 990px) {
      .text_1 > h3 {
        font-size: 18pt; } }
    @media (max-width: 575px) {
      .text_1 > h3 {
        font-size: 16pt; } }
  .text_1 > div {
    margin-top: 40px;
    column-count: 2;
    column-gap: 50px;
    column-width: 200px;
    text-align: left;
    margin-right: 22%; }
    @media (max-width: 768px) {
      .text_1 > div {
        column-count: 1;
        margin-right: 50px; } }
    @media (max-width: 575px) {
      .text_1 > div {
        margin-right: 40px; } }
    .text_1 > div > p {
      font-family: "GTWalsheimLight";
      font-size: 14pt;
      margin-bottom: 20px;
      line-height: 120%;
      max-width: 500px;
      break-inside: avoid; }
      @media (max-width: 990px) {
        .text_1 > div > p {
          font-size: 12pt; } }

.splide_2 .splide__arrows {
  position: relative;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px; }
  .splide_2 .splide__arrows > button {
    min-width: 20px;
    height: 20px;
    opacity: 1;
    left: auto;
    right: auto;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    border: none; }
    .splide_2 .splide__arrows > button.splide__arrow--prev {
      margin-right: 40px; }
    .splide_2 .splide__arrows > button.splide__arrow--next {
      margin-left: 40px; }
    .splide_2 .splide__arrows > button::before {
      content: "";
      position: absolute;
      width: 60%;
      height: 60%;
      border-bottom: 4px solid #29788C;
      border-left: 4px solid #29788C;
      border-radius: 3px; }
    .splide_2 .splide__arrows > button.splide__arrow--prev::before {
      transform: translate(-20%, -50%) rotate(45deg) skew(-15deg, -15deg); }
    .splide_2 .splide__arrows > button.splide__arrow--next::before {
      transform: translate(-80%, -50%) rotate(-135deg) skew(-15deg, -15deg); }
  .splide_2 .splide__arrows .splide__pagination_text {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0; }
    .splide_2 .splide__arrows .splide__pagination_text li {
      display: block;
      padding: 0 20px;
      margin-top: 5px;
      margin-bottom: 5px; }
      @media (max-width: 768px) {
        .splide_2 .splide__arrows .splide__pagination_text li {
          padding: 0 10px; } }
      .splide_2 .splide__arrows .splide__pagination_text li button {
        font-family: "GTWalsheimMedium";
        color: #29788C;
        background-color: transparent;
        width: auto;
        font-size: 14pt;
        line-height: 17pt;
        border-radius: 0;
        width: 100%;
        opacity: 1;
        cursor: pointer;
        border: none; }
        @media (max-width: 768px) {
          .splide_2 .splide__arrows .splide__pagination_text li button {
            font-size: 12pt;
            line-height: 14pt; } }
      .splide_2 .splide__arrows .splide__pagination_text li button.is-active {
        text-decoration: underline;
        background-color: transparent;
        font-size: 14pt;
        line-height: 17pt; }
        @media (max-width: 768px) {
          .splide_2 .splide__arrows .splide__pagination_text li button.is-active {
            font-size: 12pt;
            line-height: 14pt; } }
      .splide_2 .splide__arrows .splide__pagination_text li ~ li {
        border-left: 1px solid #29788C; }

.gallery_projects {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 5%;
  padding-right: 5%; }
  .gallery_projects > form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap; }
    .gallery_projects > form > div h3 {
      font-size: 36px;
      color: #29788C;
      margin-bottom: 30px; }
    .gallery_projects > form > div > div {
      column-count: 2; }
      .gallery_projects > form > div > div > div {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .gallery_projects > form > div > div > div label {
          display: inline-block;
          font-size: 18px;
          text-transform: capitalize;
          position: relative;
          margin-right: 20px;
          white-space: no-space;
          margin-top: 10px;
          margin-bottom: 10px; }
          .gallery_projects > form > div > div > div label::before {
            content: "";
            position: relative;
            width: 20px;
            height: 20px;
            border: 2px solid #000;
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-bottom;
            transition: all 0.3s; }
        .gallery_projects > form > div > div > div input {
          opacity: 0;
          position: absolute; }
          .gallery_projects > form > div > div > div input:checked + label::before {
            background: #009CCD;
            transform: rotate(90deg);
            transition: all 0.3s; }
          .gallery_projects > form > div > div > div input:checked + label::after {
            left: 5px;
            top: 6px;
            position: absolute;
            display: block;
            content: "";
            height: 8px;
            width: 13px;
            border-left: 3px solid #FFF;
            border-bottom: 3px solid #FFF;
            transform: rotate(-45deg); }
    .gallery_projects > form > div:nth-child(1) > div {
      column-count: 1; }
  .gallery_projects .submit-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
    .gallery_projects .submit-area > div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 50px; }
      .gallery_projects .submit-area > div > span {
        font-size: 36px;
        font-weight: 800; }
      .gallery_projects .submit-area > div > p {
        font-size: 24px;
        font-weight: 400; }
  .gallery_projects .gallery {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px; }
    .gallery_projects .gallery > div {
      width: 32%; }
      .gallery_projects .gallery > div > figure {
        width: 100%;
        overflow: hidden;
        margin: 0;
        aspect-ratio: 1 / 1; }
        .gallery_projects .gallery > div > figure img {
          width: 100%; }
      .gallery_projects .gallery > div > div {
        padding-left: 2%;
        padding-right: 20%; }
        .gallery_projects .gallery > div > div > span {
          display: table;
          font-size: 18px;
          margin-top: 10px; }
          .gallery_projects .gallery > div > div > span:first-child {
            font-weight: 800; }
          .gallery_projects .gallery > div > div > span > div {
            margin-left: 5px; }
        .gallery_projects .gallery > div > div > a {
          text-transform: capitalize;
          color: #000;
          margin-top: 20px;
          margin-bottom: 30px;
          display: inline-block; }
  .gallery_projects .pages {
    text-align: center;
    font-family: "GTWalsheimLight"; }
    .gallery_projects .pages span {
      font-size: 12pt;
      line-height: 120%; }
    .gallery_projects .pages a {
      font-family: "GTWalsheimMedium";
      text-decoration: none;
      color: #000;
      display: none; }
      .gallery_projects .pages a.active {
        display: inline-block; }
      .gallery_projects .pages a:first-of-type {
        margin-right: 25px; }
      .gallery_projects .pages a:last-of-type {
        margin-left: 25px; }

.lets-shop {
  padding-bottom: 60px;
  width: 100%;
  min-height: 366px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #29788C;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px; }
  @media (max-width: 768px) {
    .lets-shop {
      padding-left: 15px;
      padding-right: 15px; } }
  .lets-shop > div {
    position: relative;
    margin-top: 60px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;
    margin-right: 0px; }
    .lets-shop > div lottie-player {
      height: auto;
      position: absolute; }
    .lets-shop > div > .logo_stay {
      width: 160px;
      top: -45px; }
    .lets-shop > div > h3 {
      font-family: 'GTWalsheimRegular';
      font-size: 24pt;
      line-height: 30pt;
      letter-spacing: -6%;
      margin-top: 75px;
      text-align: center; }
    .lets-shop > div > p {
      font-family: 'GTWalsheimLight';
      font-size: 12pt;
      line-height: 15pt;
      margin-top: 20px;
      text-align: center; }
    .lets-shop > div > form {
      width: 100%;
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; }
      .lets-shop > div > form > input {
        font-family: 'GTWalsheimLight';
        font-size: 12pt;
        color: #FFF;
        width: 40%;
        border: none;
        border-bottom: 1px solid #FFF;
        margin-top: 15px;
        background: none;
        color: white;
        outline: none; }
        .lets-shop > div > form > input::placeholder {
          color: #93BCC6; }
        .lets-shop > div > form > input:last-of-type {
          width: 100%; }
      .lets-shop > div > form > button {
        width: 45%;
        margin-left: auto;
        margin-right: auto; }
      .lets-shop > div > form__button:hover {
        background-color: white;
        border-color: #FFF;
        color: #29788C; }
    .lets-shop > div > a {
      font-family: 'GTWalsheimBold';
      color: #FFF;
      font-size: 12pt;
      line-height: 14pt;
      margin-top: 20px;
      text-decoration: underline; }

.header-container {
  /*   max-width: $site-width;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #BBB;*/
  background-color: #000; }

.header_right {
  position: fixed;
  top: 40px;
  right: 70px;
  z-index: 5000; }
  @media (max-width: 990px) {
    .header_right {
      right: 40px; } }
  @media (max-width: 575px) {
    .header_right {
      right: 20px; } }
  .header_right #search {
    margin-top: 27px;
    cursor: pointer; }
    .header_right #search img {
      height: 25px;
      width: 25px; }

.footer-container {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    .footer-container {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 990px) {
    .footer-container {
      padding-left: 35px;
      padding-right: 35px; } }
  @media (max-width: 768px) {
    .footer-container {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 575px) {
    .footer-container {
      padding-left: 25px;
      padding-right: 25px; } }
  .footer-container .footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%; }
    @media (max-width: 768px) {
      .footer-container .footer__columns {
        flex-wrap: wrap;
        justify-content: flex-start; } }
    .footer-container .footer__columns__column {
      margin-right: 30px;
      width: 20%;
      margin-bottom: 20px;
      position: relative; }
      @media (max-width: 768px) {
        .footer-container .footer__columns__column {
          width: 49%;
          margin-right: 0; } }
      .footer-container .footer__columns__column .footer__logo__container {
        width: 122px;
        height: 27px; }
        .footer-container .footer__columns__column .footer__logo__container .footer__logo {
          width: 100%; }
      @media (max-width: 768px) {
        .footer-container .footer__columns__column:nth-child(2) {
          display: none; } }
      .footer-container .footer__columns__column:nth-child(4) {
        display: none; }
        @media (max-width: 768px) {
          .footer-container .footer__columns__column:nth-child(4) {
            display: block; } }
      .footer-container .footer__columns__column:last-child {
        margin-right: 0; }
      .footer-container .footer__columns__column .column__header {
        font-family: 'GTWalsheimBold';
        font-size: 12pt;
        line-height: 14pt;
        margin-bottom: 20px;
        color: #000; }
      .footer-container .footer__columns__column .column__text {
        font-family: 'GTWalsheimLight';
        color: #000;
        text-decoration: none;
        font-size: 12pt;
        line-height: 18pt; }
      .footer-container .footer__columns__column .column__button:hover {
        color: #29788C;
        border-color: #FFF;
        background-color: #FFF; }
      .footer-container .footer__columns__column .column__socials {
        margin-top: 20px;
        margin-left: -5px; }
        .footer-container .footer__columns__column .column__socials__item {
          display: inline-block;
          margin-right: 0px; }
          .footer-container .footer__columns__column .column__socials__item__logo {
            height: 45px;
            width: 45px; }
      .footer-container .footer__columns__column .column__assistant-link {
        display: none; }
        @media (max-width: 768px) {
          .footer-container .footer__columns__column .column__assistant-link {
            display: block;
            bottom: 0;
            position: absolute; } }
        .footer-container .footer__columns__column .column__assistant-link .column__assistant-image {
          width: 50px;
          height: 50px; }
    .footer-container .footer__columns .wide-colimn {
      margin-right: 60px; }

.margin-left, .our-divisions > h2, .hero_carousel > div:nth-of-type(1), .hero_image > div:nth-of-type(1), .text_1 {
  margin-left: 80px; }
  @media (max-width: 1200px) {
    .margin-left, .our-divisions > h2, .hero_carousel > div:nth-of-type(1), .hero_image > div:nth-of-type(1), .text_1 {
      margin-left: 70px; } }
  @media (max-width: 990px) {
    .margin-left, .our-divisions > h2, .hero_carousel > div:nth-of-type(1), .hero_image > div:nth-of-type(1), .text_1 {
      margin-left: 60px; } }
  @media (max-width: 768px) {
    .margin-left, .our-divisions > h2, .hero_carousel > div:nth-of-type(1), .hero_image > div:nth-of-type(1), .text_1 {
      margin-left: 50px; } }
  @media (max-width: 575px) {
    .margin-left, .our-divisions > h2, .hero_carousel > div:nth-of-type(1), .hero_image > div:nth-of-type(1), .text_1 {
      margin-left: 40px; } }

.margin-right {
  margin-right: 80px; }
  @media (max-width: 1200px) {
    .margin-right {
      margin-right: 70px; } }
  @media (max-width: 990px) {
    .margin-right {
      margin-right: 60px; } }
  @media (max-width: 768px) {
    .margin-right {
      margin-right: 50px; } }
  @media (max-width: 575px) {
    .margin-right {
      margin-right: 40px; } }

.circle, .circle_green, .circle_blue, .circle_orange {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
  margin-right: 25px; }

.circle_green {
  background-color: #00C496; }

.circle_blue {
  background-color: #009CCD; }

.circle_orange {
  background-color: #FB9A2D; }

.margin-left, .our-divisions > h2, .hero_carousel > div:nth-of-type(1), .hero_image > div:nth-of-type(1), .text_1 {
  margin-left: 80px; }
  @media (max-width: 1200px) {
    .margin-left, .our-divisions > h2, .hero_carousel > div:nth-of-type(1), .hero_image > div:nth-of-type(1), .text_1 {
      margin-left: 70px; } }
  @media (max-width: 990px) {
    .margin-left, .our-divisions > h2, .hero_carousel > div:nth-of-type(1), .hero_image > div:nth-of-type(1), .text_1 {
      margin-left: 60px; } }
  @media (max-width: 768px) {
    .margin-left, .our-divisions > h2, .hero_carousel > div:nth-of-type(1), .hero_image > div:nth-of-type(1), .text_1 {
      margin-left: 50px; } }
  @media (max-width: 575px) {
    .margin-left, .our-divisions > h2, .hero_carousel > div:nth-of-type(1), .hero_image > div:nth-of-type(1), .text_1 {
      margin-left: 40px; } }

.homepage__hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .homepage__hero .homepage__hero__left-block {
    width: 42%; }
    .homepage__hero .homepage__hero__left-block .homepage__hero__logo {
      margin-top: 40px;
      width: 120px; }
      @media (max-width: 990px) {
        .homepage__hero .homepage__hero__left-block .homepage__hero__logo {
          margin-top: 40px;
          width: 100px; } }
    .homepage__hero .homepage__hero__left-block .homepage__hero__text-container {
      margin-top: 70px;
      padding-right: 90px;
      font-family: 'GTWalsheimRegular';
      color: #3F7793; }
      @media (max-width: 1200px) {
        .homepage__hero .homepage__hero__left-block .homepage__hero__text-container {
          padding-right: 40px; } }
      @media (max-width: 768px) {
        .homepage__hero .homepage__hero__left-block .homepage__hero__text-container {
          padding-right: 35px; } }
      @media (max-width: 575px) {
        .homepage__hero .homepage__hero__left-block .homepage__hero__text-container {
          padding-right: 25px; } }
      .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__title {
        font-family: 'GTWalsheimBold';
        font-size: 72px;
        line-height: 62px; }
        @media (max-width: 1200px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__title {
            font-size: 64px;
            line-height: 58px; } }
        @media (max-width: 990px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__title {
            font-size: 46px;
            line-height: 36px; } }
        @media (max-width: 768px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__title {
            font-size: 40px;
            line-height: 40px; } }
        @media (max-width: 575px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__title {
            font-size: 30px;
            line-height: 30px; } }
      .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__text {
        font-family: 'GTWalsheimBold';
        margin-top: 40px;
        font-size: 28px;
        line-height: 30px; }
        @media (max-width: 1200px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__text {
            font-size: 22px;
            line-height: 20px; } }
        @media (max-width: 990px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__text {
            margin-top: 30px;
            font-size: 20px;
            line-height: 20px; } }
        @media (max-width: 768px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__text {
            margin-top: 25px;
            font-size: 18px;
            line-height: 18px; } }
        @media (max-width: 575px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__text {
            margin-top: 25px;
            font-size: 15px;
            line-height: 15px; } }
      .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__link {
        margin-top: 80px;
        display: inline-block;
        font-size: 18px;
        text-decoration: underline;
        font-family: 'GTWalsheimMedium';
        color: #3F7793; }
        @media (max-width: 1400px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__link {
            margin-top: 70px; } }
        @media (max-width: 990px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__link {
            margin-top: 50px;
            font-size: 13px; } }
        @media (max-width: 768px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__link {
            margin-top: 30px;
            font-size: 12px; } }
        @media (max-width: 575px) {
          .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__link {
            margin-top: 30px;
            font-size: 9px; } }
  .homepage__hero .homepage__hero__right-block {
    position: relative;
    margin-left: auto;
    width: 60%; }
    .homepage__hero .homepage__hero__right-block .homepage__hero__carousel {
      margin: 0;
      margin-top: 0;
      padding: 0;
      margin-left: 0;
      cursor: grab;
      display: flex;
      width: 100% !important;
      height: 600px !important; }
      @media (max-width: 1200px) {
        .homepage__hero .homepage__hero__right-block .homepage__hero__carousel {
          height: 550px !important; } }
      @media (max-width: 768px) {
        .homepage__hero .homepage__hero__right-block .homepage__hero__carousel {
          height: 550px !important; } }
      @media (max-width: 575px) {
        .homepage__hero .homepage__hero__right-block .homepage__hero__carousel {
          height: 450px !important; } }
    .homepage__hero .homepage__hero__right-block .homepage__hero__carousel_grabbed {
      cursor: grabbing; }

.homepage__our-divisions {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 80px; }
  @media (max-width: 990px) {
    .homepage__our-divisions {
      flex-direction: column; } }
  .homepage__our-divisions .homepage__our-divisions_header {
    font-family: 'GTWalsheimBold';
    color: #3F7793;
    font-size: 72px;
    line-height: 68px;
    width: calc(40% - 80px); }
    @media (max-width: 1200px) {
      .homepage__our-divisions .homepage__our-divisions_header {
        font-size: 64px;
        line-height: 58px;
        width: calc(45% + 120px); } }
    @media (max-width: 990px) {
      .homepage__our-divisions .homepage__our-divisions_header {
        font-size: 46px;
        line-height: 36px;
        width: auto; } }
    @media (max-width: 768px) {
      .homepage__our-divisions .homepage__our-divisions_header {
        font-size: 40px;
        line-height: 40px; } }
    @media (max-width: 575px) {
      .homepage__our-divisions .homepage__our-divisions_header {
        font-size: 30px;
        line-height: 30px; } }
  .homepage__our-divisions .homepage__our-divisions__logos {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-right: 30px; }
    @media (max-width: 1200px) {
      .homepage__our-divisions .homepage__our-divisions__logos {
        width: 100%;
        justify-content: space-around; } }
    @media (max-width: 990px) {
      .homepage__our-divisions .homepage__our-divisions__logos {
        flex-wrap: wrap;
        margin-left: 50px;
        padding-right: 50px;
        margin-top: 50px; } }
    @media (max-width: 575px) {
      .homepage__our-divisions .homepage__our-divisions__logos {
        justify-content: space-around; } }
    .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item {
      margin-top: 60px;
      max-width: 180px;
      position: relative;
      font-size: 0;
      margin-right: 100px;
      margin-bottom: 60px; }
      @media (max-width: 575px) {
        .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item:first-child {
          margin-right: 30px; } }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item:last-child {
        margin-right: 0px; }
        @media (max-width: 575px) {
          .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item:last-child {
            margin-right: 50px; } }
      @media (max-width: 575px) {
        .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item:nth-child(2) {
          margin-right: 30px; } }
      @media (max-width: 1200px) {
        .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item {
          margin-right: 40px; } }
      @media (max-width: 575px) {
        .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item {
          max-width: 130px;
          margin-right: 30px; } }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__link {
        font-family: 'GTWalsheimBold';
        color: #000;
        font-size: 12px;
        text-decoration: underline;
        float: left;
        letter-spacing: 0px; }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_eng {
        width: 110px;
        height: auto;
        margin-left: auto;
        position: absolute;
        top: -75px;
        right: -20px; }
        @media (max-width: 575px) {
          .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_eng {
            width: 79px;
            top: -52px;
            right: -15px; } }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_cx {
        width: 190px;
        height: auto;
        margin-left: auto;
        position: absolute;
        top: -80px;
        right: -52px; }
        @media (max-width: 575px) {
          .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_cx {
            width: 137px;
            top: -58px;
            right: -38px; } }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_cm {
        width: 150px;
        height: auto;
        margin-left: auto;
        position: absolute;
        top: -115px;
        right: -30px; }
        @media (max-width: 575px) {
          .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_cm {
            width: 108px;
            top: -85px;
            right: -20px; } }

.splide {
  margin-top: 70px;
  width: 100%;
  height: 520px;
  color: white;
  font-family: 'GTWalsheimMedium'; }
  .splide__text-container {
    max-width: 270px;
    min-width: 210px;
    position: relative;
    margin-right: 380px;
    margin-left: auto;
    padding-left: 30px;
    top: 100px; }
    .splide__text-container__year {
      font-size: 18px;
      line-height: 21px; }
      @media (max-width: 990px) {
        .splide__text-container__year {
          font-size: 17px;
          line-height: 20px; } }
      @media (max-width: 768px) {
        .splide__text-container__year {
          font-size: 15px;
          line-height: 17px; } }
      @media (max-width: 575px) {
        .splide__text-container__year {
          font-size: 13px;
          line-height: 14px; } }
    .splide__text-container__header {
      font-family: 'GTWalsheimBold';
      font-size: 72px;
      line-height: 62px;
      margin-top: 10px; }
      @media (max-width: 990px) {
        .splide__text-container__header {
          font-size: 68px;
          line-height: 58px; } }
      @media (max-width: 768px) {
        .splide__text-container__header {
          font-size: 58px;
          line-height: 48px; } }
      @media (max-width: 575px) {
        .splide__text-container__header {
          font-size: 48px;
          line-height: 38px; } }
    .splide__text-container__text {
      font-family: 'GTWalsheimBold';
      font-size: 18px;
      line-height: 21px;
      margin-top: 18px; }
      @media (max-width: 990px) {
        .splide__text-container__text {
          font-size: 17px;
          line-height: 20px; } }
      @media (max-width: 768px) {
        .splide__text-container__text {
          font-size: 15px;
          line-height: 17px; } }
      @media (max-width: 768px) {
        .splide__text-container__text {
          font-size: 13px;
          line-height: 14px; } }
    .splide__text-container__link {
      font-family: 'GTWalsheimBold';
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      margin-top: 15px;
      color: #FFF; }
      @media (max-width: 768px) {
        .splide__text-container__link {
          font-size: 10px;
          line-height: 12px; } }
      @media (max-width: 575px) {
        .splide__text-container__link {
          font-size: 8px;
          line-height: 10px; } }
  .splide .splide__pagination {
    height: 100px;
    margin-left: auto;
    max-width: 270px;
    min-width: 80px;
    margin-right: 180px;
    padding-left: 30px;
    padding-right: 0;
    justify-content: flex-start; }
    .splide .splide__pagination button {
      background-color: transparent;
      border: 2px solid white;
      width: 10px;
      height: 10px;
      box-sizing: border-box;
      margin: 7px; }
    .splide .splide__pagination button.is-active {
      box-sizing: border-box;
      border: none;
      background-color: white;
      width: 8px;
      height: 8px; }
  .splide__video {
    margin-left: auto;
    margin-right: auto;
    height: 520px; }

.homepage__connect {
  padding-bottom: 60px;
  width: 100%;
  min-height: 366px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #3F7793;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px; }
  @media (max-width: 768px) {
    .homepage__connect {
      padding-left: 15px;
      padding-right: 15px; } }
  .homepage__connect .homepage__connect__item {
    position: relative;
    margin-top: 60px;
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;
    margin-right: 30px; }
    .homepage__connect .homepage__connect__item:last-child {
      margin-right: 0; }
    @media (max-width: 768px) {
      .homepage__connect .homepage__connect__item:nth-child(3) {
        margin-right: 30px; } }
    @media (max-width: 768px) {
      .homepage__connect .homepage__connect__item:nth-child(2) {
        order: 3;
        margin-right: 0px; } }
    .homepage__connect .homepage__connect__item__logo_join {
      width: 100px;
      height: auto;
      position: absolute; }
    .homepage__connect .homepage__connect__item__logo_stay {
      width: 160px;
      height: auto;
      position: absolute;
      top: -45px; }
    .homepage__connect .homepage__connect__item__logo_get {
      width: 100px;
      height: auto;
      position: absolute;
      top: -10px; }
    .homepage__connect .homepage__connect__item__header {
      font-family: 'GTWalsheimRegular';
      font-size: 22pt;
      line-height: 30pt;
      letter-spacing: -6%; }
    .homepage__connect .homepage__connect__item__header_join {
      margin-top: 95px; }
    .homepage__connect .homepage__connect__item__header_stay {
      margin-top: 75px; }
    .homepage__connect .homepage__connect__item__header_get {
      margin-top: 75px; }
    .homepage__connect .homepage__connect__item__text {
      font-family: 'GTWalsheimLight';
      font-size: 12pt;
      line-height: 15pt;
      margin-top: 20px;
      text-align: center; }
    .homepage__connect .homepage__connect__item__form {
      width: 100%; }
      .homepage__connect .homepage__connect__item__form__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #FFF;
        margin-top: 15px;
        background: none;
        color: white;
        outline: none; }
        .homepage__connect .homepage__connect__item__form__input::placeholder {
          color: #FFF; }
      .homepage__connect .homepage__connect__item__form__button {
        background-color: #3F7793;
        width: 100%;
        height: 25px;
        border-radius: 12px;
        color: #FFF;
        font-family: 'GTWalsheimMedium';
        font-size: 10pt;
        margin-top: 20px;
        border: 2px solid white;
        cursor: pointer; }
      .homepage__connect .homepage__connect__item__form__button:hover {
        background-color: white;
        background-color: white;
        color: #3F7793; }
    .homepage__connect .homepage__connect__item__link {
      font-family: 'GTWalsheimBold';
      color: #FFF;
      font-size: 12pt;
      line-height: 14pt;
      margin-top: 20px;
      text-decoration: underline; }

/*body.about_us {

    & .splide_about-us_1 {
        margin-top: 70px;
        width: 100%;
        height: auto;
        color: white;
        font-family: 'GTWalsheimMedium';
    
    
        & .splide__text-container {
    
            max-width: 270px;
            min-width: 210px;
            position: relative;
            margin-right: 180px;
            margin-left: auto;
            padding-left: 30px;
            top: 100px;
        }
    

    
        & .splide__video {
            margin-left: auto;
            margin-right: auto;
            height: 100%;
        }
    
    }
    

}*/
body.about_us .splide_about-us_1 {
  margin-top: 90px; }

body.about_us .connect {
  margin-top: 50px; }

body.projects .carousel_max-description {
  background-color: #29788C; }

html {
  scroll-behavior: smooth; }

/*# sourceMappingURL=bundle.css.map */
