{% extends "../_layout.twig" %}
{% set pageTitle = 'P2S Inc | About Us | P2S Inc' %}
{% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
{% endblock styles %}

{% set pageName = 'about_us' %}


{% set nav_side_navs = [
    {
        text: "WE ARE P2S INC.",
        block: "homepage__hero",
        link_to: "#homepage__our-divisions"
    },
    {
        text: "OUR DIVISIONS",
        block: "homepage__our-divisions",
        link_to: "#splide"
    },
    {
        text: "NEWS",
        block: "splide",
        link_to: "#homepage__connect"
    },
    {
        text: "JOIN US",
        block: "homepage__connect",
        link_to: "#footer-container"
    }
    ]
    %}



    {% set content = {
        hero: {
            header: 'About <br> Us',
            subheader: '',
            text: '',
            linkto: '',
            img: './assets/img/about_hero.jpg',
            img_alt: 'About Us'
        },
        text_1: {
            header: 'Company Profile',
            texts: ['P2S is a consulting engineering and commissioning firm committed to innovative designs, sustainable solutions and exceptional services for clients.',
                    'We design high-performance building systems and central plants that reduce operating costs while providing quality indoor environmental conditions and optimal user comfort. As part of our commissioning practice, P2S ensures optimum performance for new and existing buildings.',
                    'We offer our customized, sustainable design services to clients in higher education, healthcare, aerospace, port, manufacturing, municipal, K-12, and commercial sectors. Our elite team of 250+ engineers and technical staff can find the best solution for even the most challenging problems.']
        }
    
    }
        
    %}



{% block content %}

    <div class="fade-block"></div>

    <div class='content-container'>

        {% include '../components/_nav_side.twig' with nav_side_navs %}

        {% include '../components/_hero_image.twig' with { id : 'about-us_hero', content } %}

        {% include '../components/_block_text_1.twig' with { id : 'about-us_text-1', content } %}

        {% include '../components/_splide_2.twig' with { id : 'about-us_splide-2', content } %}

        {% include '../components/_connect.twig' with { id : 'about-us_connect' } %}
        
    </div>
    
{% endblock content %} 

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
    <script type='module' src='./assets/js/about_us.js'></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.4/lottie.min.js" integrity="sha512-ilxj730331yM7NbrJAICVJcRmPFErDqQhXJcn+PLbkXdE031JJbcK87Wt4VbAK+YY6/67L+N8p7KdzGoaRjsTg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock scripts %} 
