html, body, h1, h2, h3, h4, h5, h6, p, span, button, input, form, header, footer, section, nav, img, a, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-container {
    //max-width: 1440px;
    width: 100%;
    //padding-left: 70px;
   //padding-right: 70px;
    margin-left: auto;
    margin-right: auto;

   /* @include respond-to(lg) {
        padding-left: 55px;
        padding-right: 55px;
    }
    @include respond-to(md) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @include respond-to(sm) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @include respond-to(xs) {
        padding-left: 20px;
        padding-right: 20px;
    }*/
}



.content-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.color_green-logo {
    color:  $green_logo;
}

.color_blue-logo {
    color:  $blue_logo;
}

.color_orange-logo {
    color:  $orange_logo;
}

.fade-block {
    z-index: 1000;
    opacity: 0;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    pointer-events: none;

    &.fade {
        opacity: .5;
    }
}
