$site-width: 1280px;

$buttons_width: 150px;
$buttons-height: 50px;
/*
$red: #F15D5B;
$gray: #575A5E;
$dark: #0B1F47; 
*/
/*
$white: #fff;
$black: #000;
$dark-blue: #0A1045;
$blue-06: #0F186B;
$grey-bg: #F7F8FA;
$green: #5EEACF;
$border: #CCCED7;
 */

$white: #FFF;
$black: #000;
$green_logo: #00C496;
$blue_logo: #009CCD; 
$orange_logo: #FB9A2D;
$blue-1: #2B798D;

$screen-xs: 575px;
$screen-sm: 768px;
$screen-md: 990px;
$screen-lg: 1200px;
$screen-xl: 1400px;
