.text_1 {
    @extend .margin-left;
    margin-top: 60px;

    & > h3 {
        font-family: "GTWalsheimBold";
        font-size: 24pt;
        color: $blue_text;
        margin-right: 40px;

        @include respond-to(lg) {
            font-size: 20pt;
        }

        @include respond-to(md) {
            font-size: 18pt;
        }

        @include respond-to(xs) {
            font-size: 16pt;
        }
    }

    & > div {
        margin-top: 40px;
        column-count: 2;
        column-gap: 50px;
        column-width: 200px;
        text-align: left;
        margin-right: 22%;

        @include respond-to(sm) {
            column-count: 1;
            margin-right: 50px;
        }

        @include respond-to(xs) {
            margin-right: 40px;
        }

        & > p {
            font-family: "GTWalsheimLight";
            font-size: 14pt;
            margin-bottom: 20px;
            line-height: 120%;
            max-width: 500px;
            break-inside: avoid;

            @include respond-to(md) {
                font-size: 12pt;
            }

        }
    }
}