.hero_image {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    

    & > div:nth-of-type(1) { //left block
        width: 42%;
        @extend .margin-left;

        & > img { //logo
            margin-top: 40px;
            width: 120px;

            @include respond-to(md) {
                    margin-top: 40px;
                    width: 100px;
            }

        }

        & > div { //homepage__hero__text-container
            margin-top: 70px;   
            padding-right: 90px;
            font-family: 'GTWalsheimRegular';
            color: $blue_text;
            
            @include respond-to(lg) {
                padding-right: 40px;
            }

            @include respond-to(sm) {
                padding-right: 35px;
            }

            @include respond-to(xs) {
                padding-right: 25px;
            }


            & > h1 {
                font-family: 'GTWalsheimBold';
                font-size: 72px;
                line-height: 62px;
             
                
                @include respond-to(lg) {
                    font-size: 64px;
                    line-height: 58px;
                }

                @include respond-to(md) {
                    font-size: 46px;
                    line-height: 36px;
                }


                @include respond-to(sm) {
                    font-size: 40px;
                    line-height: 40px;
                }

                @include respond-to(xs) {
                    font-size: 30px;
                    line-height: 30px;
                }

            }

            & > span {
                font-family: 'GTWalsheimBold';
                margin-top: 40px;
                font-size: 28px;
                line-height: 30px;
                display: block;

                @include respond-to(lg) {
                    font-size: 22px;
                    line-height: 20px;
                }

                @include respond-to(md) {
                    margin-top: 30px;
                    font-size: 20px;
                    line-height: 20px;
                }

                @include respond-to(sm) {
                    margin-top: 25px;
                    font-size: 18px;
                    line-height: 18px;
                }
                @include respond-to(xs) {
                    margin-top: 25px;
                    font-size: 15px;
                    line-height: 15px;
                }
            }

            & > a {
                margin-top: 80px;
                display: inline-block;
                font-size: 18px;
                text-decoration: underline;
                font-family: 'GTWalsheimMedium';
                color: $blue_text;

                @include respond-to(xl) {
                    margin-top: 70px;

                }                
                @include respond-to(md) {
                    margin-top: 50px;
                    font-size: 13px;
                }
                @include respond-to(sm) {
                    margin-top: 30px;
                    font-size: 12px;
                }
                @include respond-to(xs) {
                    margin-top: 30px;
                    font-size: 9px;
                }
            }
        }
    }


    & > div:nth-of-type(2) {
        position: relative;
        margin-left: auto;
        width: 60%;
        //border: 1px solid red;
        //aspect-ratio: 1;
        overflow: hidden;
        
        & > img {
            width: 100%;
            max-width: 600px;
            object-fit: cover;
        }
    }

}

