.lets-shop {
    padding-bottom: 60px;
    width: 100%;
    min-height: 366px;
    display: flex;
    flex-direction: row;
    align-items:  flex-start;
    justify-content: space-around;
    background-color: $blue_text;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;



    @include respond-to(sm) {
        padding-left: 15px;
        padding-right: 15px;
    }

    & > div {
        position: relative;
        margin-top: 60px;
        width: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: #FFF;
        margin-right: 0px;


        lottie-player {
            height: auto;
            position: absolute;
        }


        & > .logo_stay {
            width: 160px;
            top: -45px;
        }


        & > h3 {
            font-family: 'GTWalsheimRegular';
            font-size: 24pt;
            line-height: 30pt;
            letter-spacing: -6%;
            margin-top: 75px;
            text-align: center;
        }


        & > p {
            font-family: 'GTWalsheimLight';
            font-size: 12pt;
            line-height: 15pt;
            margin-top: 20px;
            text-align: center;
        }

        & > form {
            width: 100%;
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            & > input {
                font-family: 'GTWalsheimLight';
                font-size: 12pt;
                color: $white;
                width: 40%;
                border: none;
                border-bottom: 1px solid #FFF; //!!!
                margin-top: 15px;
                background: none;
                color: white;
                outline: none;

                &::placeholder {
                    color: #93BCC6;
                }

                &:last-of-type {
                    width: 100%;
                }
            }

            & > button {
                @extend .button_black;
                width: 45%;
                margin-left: auto;
                margin-right: auto;

            }
            &__button:hover {
                background-color: white;
                border-color: $white;

                color: $blue_text;
            }


        }

        & > a {
            font-family: 'GTWalsheimBold';
            color: #FFF;
            font-size: 12pt;
            line-height: 14pt;
            margin-top: 20px;
            text-decoration: underline;
        }

    }


}

