.splide {
    margin-top: 70px;
    width: 100%;
    height: 520px;
    //border: 3px solid red;
    color: white;
    font-family: 'GTWalsheimMedium';

    & > div > div > div > div {

        max-width: 270px;
        min-width: 210px;
        position: relative;
        //margin-left: 62%;
        //margin-right: 50px;
        margin-right: 180px;
        margin-left: auto;
        padding-left: 30px;
        top: 100px;

        & > span {
            font-size: 18px;
            line-height: 21px;

            @include respond-to(md) {
                font-size: 17px;
                line-height: 20px;
            }

            @include respond-to(sm) {
                font-size: 15px;
                line-height: 17px;
            }

            @include respond-to(xs) {
                font-size: 13px;
                line-height: 14px;
            }
        }
    
        & > h4 {
            font-family: 'GTWalsheimBold';
            font-size: 72px;
            line-height: 62px;
            margin-top: 10px;

            @include respond-to(md) {
                font-size: 68px;
                line-height: 58px;
            }

            @include respond-to(sm) {
                font-size: 58px;
                line-height: 48px;
            }

            @include respond-to(xs) {
                font-size: 48px;
                line-height: 38px;
            }
        }
    
        & > p {
            font-family: 'GTWalsheimBold';
            font-size: 18px;
            line-height: 21px;
            margin-top: 18px;

            @include respond-to(md) {
                font-size: 17px;
                line-height: 20px;
            }

            @include respond-to(sm) {
                font-size: 15px;
                line-height: 17px;
            }

            @include respond-to(sm) {
                font-size: 13px;
                line-height: 14px;
            }
        }

        & > a {
            font-family: 'GTWalsheimBold';
            display: inline-block;
            font-size: 12px;
            line-height: 14px;
            margin-top: 15px;
            color: #FFF;


            @include respond-to(sm) {
                font-size: 10px;
                line-height: 12px;
            }

            @include respond-to(xs) {
                font-size: 8px;
                line-height: 10px;
            }
        }
    }


    .splide__pagination {
        position: relative;
        top: -18%;
        height: 10px;
        //margin-left: auto;
        margin-right: 155px;
        margin-left: auto;
        max-width: 270px;
        min-width: 80px;
        //margin-right: 180px;
        padding-left: 30px;
        padding-right: 0;
        justify-content: flex-start;

        & button {
            background-color: transparent;
            border: 2px solid white;
            width: 10px;
            height: 10px;
            box-sizing: border-box;
            margin: 7px;

        }

        & button.is-active {
            box-sizing: border-box;
            border: none;
            background-color: white;
            width: 8px;
            height: 8px;
        }
    }

    & .splide__video {
        margin-left: auto;
        margin-right: auto;
        height: 520px;
    }
}