<section class="connect" id={{ id }}>
    <div>
        <lottie-player class="logo_join" autoplay loop mode="normal" src="./assets/json/JoinUs_Widget.json" ></lottie-player>
        <h3>Join Us!</h3>
        <p>We're hiring for a broad range of positions. Take a look at our Openings page to learn more and apply!</p>
        <a href='#'>Openings &#8594</a>
    </div>
    <div>
        <lottie-player class="logo_stay" autoplay loop mode="normal" src="./assets/json/StayintheMix_Widget.json" ></lottie-player>
        <h3>Stay In <br> the Mix!</h3>
        <p>Sign up for the P2S Magazine</p>
        <form action="" id="homepage__connect__form">
            <input type="text" required placeholder="Name *"></input>
            <input type="email" required placeholder="Email *"></input>
            <button type="submit" form="homepage__connect__form">Submit &#8594</button>
        </form>
    </div>
    <div>
        <lottie-player class="logo_get" autoplay loop mode="normal" src="./assets/json/GetinTouch_Widget.json" ></lottie-player>
        <h3>Get In <br> Touch!</h3>
        <p>We want to hear from you! Fill out the form and we'll get back to you as soon as we can.</p>
        <a href='#'>Form &#8594</a>
    </div>
</div>