<section class="gallery_projects">
    <form id="projects__categories">
        <div>
            <h3>Divisions</h3>
            <div>
                <div>
                    <input type="checkbox" name="cb_engineering_div" id="cb_engineering_div">
                    <label class="category__checkbox" for="cb_engineering_div">engineering</label>
                    <div class="circle_green"></div>
                </div>
                <div>
                    <input type="checkbox" name="cb_comissioning_div" id="cb_comissioning_div">
                    <label class="category__checkbox" for="cb_comissioning_div">comissioning</label>
                    <div class="circle_blue"></div>
                </div>
                <div>
                    <input type="checkbox" name="cb_construction_management_div" id="cb_construction_management_div">
                    <label class="category__checkbox" for="cb_construction_management_div">construction management</label>
                    <div class="circle_orange"></div>
                </div>
            </div>
        </div>
        <div>
            <h3>Markets</h3>
            <div>
                <div>
                    <input type="checkbox" name="cb_public_university" id="cb_public_university">
                    <label for="cb_public_university">public university</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_speciality_manufacturing" id="cb_speciality_manufacturing">
                    <label for="cb_speciality_manufacturing">speciality manufacturing</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_healthcare" id="cb_healthcare">
                    <label for="cb_healthcare">healthcare</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_private_university" id="cb_private_university">
                    <label for="cb_private_university">private university</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_ports_harbors" id="cb_ports_harbors">
                    <label for="cb_ports_harbors">ports & harbors</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_miscellaneous" id="cb_miscellaneous">
                    <label for="cb_miscellaneous">miscellaneous</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_federal" id="cb_federal">
                    <label for="cb_federal">federal</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_aerospace" id="cb_aerospace">
                    <label for="cb_aerospace">aerospace</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_aviation" id="cb_aviation">
                    <label for="cb_aviation">aviation</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_energyy" id="cb_energyy">
                    <label for="cb_energyy">energy</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_k12" id="cb_k12">
                    <label for="cb_k12">k-12</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_community_colleges" id="cb_community_colleges">
                    <label for="cb_community_colleges">community colleges</label>
                </div>
            </div>
        </div>
        <div>
            <h3>Services</h3>
            <div>
                <div>
                    <input type="checkbox" name="cb_comissioning" id="cb_comissioning">
                    <label for="cb_comissioning">comissioning</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_constuction_management" id="cb_constuction_management">
                    <label for="cb_constuction_management">constuction management</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_speciality_lighting_design" id="cb_speciality_lighting_design">
                    <label for="cb_speciality_lighting_design">speciality lighting design</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_energy" id="cb_energy">
                    <label for="cb_energy">energy</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_science_technology" id="cb_science_technology">
                    <label for="cb_science_technology">science & technology</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_lv_technology" id="cb_lv_technology">
                    <label for="cb_lv_technology">LV technology</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_new_service_1" id="cb_new_service_1">
                    <label for="cb_new_service_1">new service 1</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_new_service_2" id="cb_new_service_2">
                    <label for="cb_new_service_2">new service 2</label>
                </div>
                <div>
                    <input type="checkbox" name="cb_new_service_3" id="cb_new_service_3">
                    <label for="cb_new_service_3">new service 3</label>
                </div>
            </div>
        </div>
    </form>
    <div class="submit-area">
        <div>
            <span>183</span>
            <p>Projects Shown</p>
        </div>
        <button type="submit" form="projects__categories">Submit Filter &#8594</button>
    </div>
    <div class="gallery">
        <div>
            <figure>
                <img src="./assets/img/mock-1.jpg" alt="Image-1">
            </figure>
            <div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolore distinctio explicabo </span>
                <span>Northridge, CA</span>
                <span>
                    Public University
                    <div class="circle_green"></div>
                </span>
                <a href="#">read more &#8594</a>
            </div>
        </div>
        <div>
            <figure>
                <img src="./assets/img/mock-2.jpg" alt="Image-1">
            </figure>
            <div>
                <span>Lorem, ipsum.</span>
                <span>Northridge, CA</span>
                <span>
                    Public University
                    <div class="circle_blue"></div>
                </span>
                <a href="#">read more &#8594</a>
            </div>
        </div>
        <div>
            <figure>
                <img src="./assets/img/mock-3.jpg" alt="Image-1">
            </figure>
            <div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolore distinctio explicabo </span>
                <span>CA</span>
                <span>
                    Public University
                    <div class="circle_orange"></div>
                </span>
                <a href="#">read more &#8594</a>
            </div>
        </div>
        <div>
            <figure>
                <img src="./assets/img/mock-1.jpg" alt="Image-1">
            </figure>
            <div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolore distinctio explicabo </span>
                <span>Northridge</span>
                <span>
                    Public University
                    <div class="circle_orange"></div>
                </span>
                <a href="#">read more &#8594</a>
            </div>
        </div>
        <div>
            <figure>
                <img src="./assets/img/mock-1.jpg" alt="Image-1">
            </figure>
            <div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolore distinctio explicabo </span>
                <span>Northridge</span>
                <span>
                    Public University
                    <div class="circle_orange"></div>
                </span>
                <a href="#">read more &#8594</a>
            </div>
        </div>
        <div>
            <figure>
                <img src="./assets/img/mock-1.jpg" alt="Image-1">
            </figure>
            <div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolore distinctio explicabo </span>
                <span>Northridge</span>
                <span>
                    Public University
                    <div class="circle_orange"></div>
                </span>
                <a href="#">read more &#8594</a>
            </div>
        </div>
    </div>
    <div class="pages">
        <a href="#" class="active">&#8592 Prev</a>

        <span>Page </span>
        <span class="page-number">1</span>
        <span> of </span>
        <span class="total-pages">21</span>

        <a href="#" class="active">Next &#8594</a>
    </div>
</section>