<section class="hero_carousel" id={{ id }}>
    <div>
        <img src="./assets/img/sprites/sprite.svg#p2s__logo_1" alt="Our Logo">
        <div>
            <h1>We Are<br> P2S Inc.</h1>
            <p>Our mission is to design a better future, every day. We inspire staff to design sustainable solutions for our clients.</p>
            <a href='#'>learn more about us  &#8594</a>
        </div>
    </div>
    <div>
        <div class="carousel_max" data-carousel="index_1"></div>
    </div>
</section>