<section class="lets-shop" id={{ id }}>
    <div>
        <lottie-player class="logo_stay" autoplay loop mode="normal" src="./assets/json/StayintheMix_Widget.json" ></lottie-player>
        <h3>Let's Talk <br>Shop!</h3>
        <form action="" id={{ id ~ "__form" }}>
            <input type="text" required placeholder="Name *"></input>
            <input type="text" required placeholder="Company *"></input>
            <input type="email" required placeholder="Email *"></input>
            <input type="phone" required placeholder="Phone"></input>
            <input type="text" required placeholder="Message *"></input>
            <button type="submit" form={{ id ~ "__form" }}>Submit &#8594</button>
        </form>
    </div>
</div>