{% block navside %}
<div class="sidenav">
    <div id="sidemenu">
        <ul id="nav">
            <li class="sidemenu__nav__item" data-block="footer-container">
                <div class="sidemenu__nav__arrow-tip sidemenu__nav__arrow-tip_up"></div>
                <div class="sidemenu__nav__arrow-line sidemenu__nav__arrow-line_up"></div>
                <a class="sidemenu__nav__link" href="#homepage__hero">BACK TO TOP</a>
            </li>
        </ul>
    </div>
</div>

{% endblock navside %}