<section class="our-divisions" id={{ id }}>
    <h2>Our<br> Divisions. </h2>
    <div>
        <div>
            <img src="./assets/img/sprites/sprite.svg#p2s__logo_eng" alt="Logo-Eng">
            <a class="green" href="#">Learn More &#8594</a>
            <a class="green" href="#">/ View Projects &#8594</a>
            <div class="our-divisions__logo_eng">1</div>
        </div>
        <div>
            <img src="./assets/img/sprites/sprite.svg#p2s__logo_cx" alt="Logo-Cx">
            <a class="blue" href="#">Learn More &#8594</a>
            <a class="blue" href="#">/ View Projects &#8594</a>
            <div class="our-divisions__logo_cx">2</div>
        </div>
        <div>
            <img src="./assets/img/sprites/sprite.svg#p2s__logo_cm" alt="Logo-Cm">
            <a class="orange" href="#">Learn More &#8594</a>
            <a class="orange" href="#">/ View Projects &#8594</a>
            <div class="our-divisions__logo_cm">3</div>
        </div>
    </div>
</section>