.footer-container {
    //padding-left: 50px; 
    //padding-right: 50px;
    position: relative;
    //border: 1px solid red;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;


    @include respond-to(lg) {
        padding-left: 40px; 
        padding-right: 40px;

    }

    @include respond-to(md) {
        padding-left: 35px;
        padding-right: 35px;
    }

    @include respond-to(sm) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include respond-to(xs) {
        padding-left: 25px;
        padding-right: 25px;
    }

    .footer__columns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        width: 100%;
    
        @include respond-to(sm) {
            //flex-direction: column;
            //width: 50%;
            flex-wrap: wrap;
            justify-content: flex-start;

        }

        @include respond-to(xs) {
            //justify-content: space-between;

        }


    
        &__column {
            margin-right: 30px;
            width: 20%;
            margin-bottom: 20px;
            position: relative;
            
            @include respond-to(sm) {
                width: 49%;
                margin-right: 0;

            }


            & .footer__logo__container {
                width: 122px;
                height: 27px;

                & .footer__logo {
                    width: 100%;
                }
            }

        
            &:nth-child(2) {
                @include respond-to(sm) {
                    display: none;
                }
            }

            &:nth-child(4) {
                display: none;
                @include respond-to(sm) {
                    display: block;
                }
            }
    
            &:nth-child(3) {
                @include respond-to(sm) {
                    //margin-top: 35px;
                }
            }
    
    
            &:last-child {
                margin-right: 0;
            }
        
    
            & .column__header {
                font-family: 'GTWalsheimBold';
                font-size: 12pt;
                line-height: 14pt;
                margin-bottom: 20px;
                color: $black;
            }
        



            & .column__text {
                font-family: 'GTWalsheimLight';
                color: #000;
                text-decoration: none;
                font-size: 12pt;
                line-height: 18pt;
            }
        
            & .column__button {
                background-color: $black;
                width: 120px;
                height: 25px;
                border-radius: 12px;
                color: #FFF;
                font-family: 'GTWalsheimMedium';
                font-size: 10pt;
                margin-top: 10px;
                border: 2px solid $black;
                cursor: pointer;

                &:hover {
                    color: $blue_text;
                    border-color: $white;
                    background-color: $white;
                }
            }
        
            & .column__socials {
                margin-top: 20px;
                margin-left: -5px;
        
                &__item {
                    display: inline-block;
                    margin-right: 0px;
        
                    &__logo {
                        height: 45px;
                        width: 45px;
                        
                       // height: 20px;
                       // width: 20px;
                    }
        
                }
        
            }


            
            & .column__assistant-link {
                display: none;
                //  height: 100%;

                @include respond-to(sm) {
                    display: block;
                    bottom: 0;
                    position: absolute;
                }
            
                & .column__assistant-image {
                        width: 50px;
                        height: 50px;
                }
        
            }

            
        }

        & .wide-colimn {
            margin-right: 60px;
        }

        
    }


}







