body.about_us {

    & .splide_about-us_1 {
        margin-top: 70px;
        width: 100%;
        height: auto;
        color: white;
        font-family: 'GTWalsheimMedium';
    
    
        & .splide__text-container {
    
            max-width: 270px;
            min-width: 210px;
            position: relative;
            margin-right: 180px;
            margin-left: auto;
            padding-left: 30px;
            top: 100px;
        }
    

    
        & .splide__video {
            margin-left: auto;
            margin-right: auto;
            height: 100%;
        }
    
    }
    
    
    

}