<div class="footer-container">
    <div class="footer__column">
        <img src="./assets/img/p2s_logo-1.png" alt="Our Logo" class="footer__column__logo">
    </div>
    <div class="footer__column">
        <h4 class="footer__column__header">NEED ASSISTANCE?</h4>
        <p class="footer__column__text">Connect with our Human Resources Team!</p>
        <button class="footer__column__button">Chat With Us &#8594</button>
    </div>
    <div class="footer__column">
        <h4 class="footer__column__header">CONNECT</h4>
        <p class="footer__column__text">P2S Inc. (HQ)<br>
            5000 East Spring Street, Ste 800 Long Beach, CA 90815 · USA<br>
            562.497.2999</p>
        <div class="footer__column__socials">
            <a href="#" class="footer__column__socials__item">
                <svg class='footer__column__socials__item__logo'>
                    <use xlink:href='./assets/img/sprites/sprite.svg#social_logo_facebook' ></use>
                </svg>
            </a>
            <a href="#" class="footer__column__socials__item">
                <svg class='footer__column__socials__item__logo'>
                    <use xlink:href='./assets/img/sprites/sprite.svg#social_logo_youtube' ></use>
                </svg>
            </a>   
            <a href="#" class="footer__column__socials__item">
                <svg class='footer__column__socials__item__logo'>
                    <use xlink:href='./assets/img/sprites/sprite.svg#social_logo_twitter' ></use>
                </svg>
            </a>   
            <a href="#" class="footer__column__socials__item">
                <svg class='footer__column__socials__item__logo'>
                    <use xlink:href='./assets/img/sprites/sprite.svg#social_logo_linkedin' ></use>
                </svg>
            </a>   
            <a href="#" class="footer__column__socials__item">
                <svg class='footer__column__socials__item__logo'>
                    <use xlink:href='./assets/img/sprites/sprite.svg#social_logo_instagram' ></use>
                </svg>
            </a>            
        </div>
    </div>
    <div class="footer__column">
        <h4 class="footer__column__header">LOCATIONS</h4>
        <a class="footer__column__text" href="#">Long Beach Headquarters</a><br>
        <a class="footer__column__text" href="#">San Diego</a><br>
        <a class="footer__column__text" href="#">Los Angeles</a><br>
        <a class="footer__column__text" href="#">San Jose</a><br>
        <a class="footer__column__text" href="#">Irvine</a><br>
        <a class="footer__column__text" href="#">Seattle</a>
            

    </div>
</div>