<div class="footer-container margin-left" id="footer-container">
    <div class="footer__columns">
        <div class="footer__columns__column">
            <div class="footer__logo__container">
                <img src="./assets/img/sprites/sprite.svg#p2s__logo_1" alt="Our Logo" class="footer__logo">
            </div>
        </div>
        <div class="footer__columns__column">
            <h4 class="column__header">NEED ASSISTANCE?</h4>
            <p class="column__text">Connect with our Human Resources Team!</p>
            <button class="column__button">Chat With Us &#8594</button>
        </div>        
        <div class="footer__columns__column">
            <h4 class="column__header">CONNECT</h4>
            <p class="column__text">P2S Inc. (HQ)<br>
                5000 East Spring Street, Ste 800<br> Long Beach, CA 90815 · USA<br>
                562.497.2999</p>
            <div class="column__socials">
                <a href="#" class="column__socials__item">
                    <svg class='column__socials__item__logo'>
                        <use xlink:href='./assets/img/sprites/sprite.svg#social_logo_facebook' ></use>
                    </svg>
                </a>
                <a href="#" class="column__socials__item">
                    <svg class='column__socials__item__logo'>
                        <use xlink:href='./assets/img/sprites/sprite.svg#social_logo_youtube' ></use>
                    </svg>
                </a>   
                <a href="#" class="column__socials__item">
                    <svg class='column__socials__item__logo'>
                        <use xlink:href='./assets/img/sprites/sprite.svg#social_logo_twitter' ></use>
                    </svg>
                </a>   
                <a href="#" class="column__socials__item">
                    <svg class='column__socials__item__logo'>
                        <use xlink:href='./assets/img/sprites/sprite.svg#social_logo_linkedin' ></use>
                    </svg>
                </a>   
                <a href="#" class="column__socials__item">
                    <svg class='column__socials__item__logo'>
                        <use xlink:href='./assets/img/sprites/sprite.svg#social_logo_instagram' ></use>
                    </svg>
                </a>            
            </div>
        </div>

        <div class="footer__columns__column">
            <a href="#" class="column__assistant-link">
                <img class="column__assistant-image" src="./assets/img/assistant-image.png"></img>
            </a>
        </div>
        

        <div class="footer__columns__column">
            <h4 class="column__header column__header_locations">LOCATIONS</h4>
            <a class="column__text" href="#">Long Beach Headquarters</a><br>
            <a class="column__text" href="#">San Diego</a><br>
            <a class="column__text" href="#">Los Angeles</a><br>
            <a class="column__text" href="#">San Jose</a><br>
            <a class="column__text" href="#">Irvine</a><br>
            <a class="column__text" href="#">Seattle</a>
        </div>
        
    </div>

</div>