<div class="header-container">
    <header class="header">
        <div class="header_right">
            {% include '../components/_nav.twig' %}
            <div id="search">
                <img src="./assets/img/search_temp.png" alt="search">
            </div>
        </div>
    </header>

</div>