.homepage__hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .homepage__hero .homepage__hero__left-block {
    width: 42%; }
    .homepage__hero .homepage__hero__left-block .homepage__hero__logo {
      margin-top: 40px;
      width: 120px; }
    .homepage__hero .homepage__hero__left-block .homepage__hero__text-container {
      margin-top: 70px;
      padding-right: 70px;
      font-family: 'GTWalsheimBold';
      color: #3F7793; }
      .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__title {
        font-size: 72px;
        line-height: 62px; }
      .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__text {
        font-size: 24px;
        line-height: 22px; }
      .homepage__hero .homepage__hero__left-block .homepage__hero__text-container .homepage__hero__link {
        font-size: 14px;
        line-height: 22px;
        text-decoration: underline;
        font-family: 'GTWalsheimMedium'; }
  .homepage__hero .homepage__hero__right-block {
    position: relative; }

.homepage__our-divisions {
  margin-top: 100px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 100px; }
  .homepage__our-divisions .homepage__our-divisions__text {
    font-family: 'GTWalsheimMedium';
    color: #3F7793;
    font-size: 72px;
    line-height: 62px; }
  .homepage__our-divisions .homepage__our-divisions__logos {
    width: 750px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
    .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item {
      max-width: 180px;
      position: relative;
      font-size: 0; }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__link {
        font-family: 'GTWalsheimMedium';
        color: #000;
        font-size: 12px;
        text-decoration: underline;
        float: left;
        letter-spacing: 0px; }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_pipe {
        width: 60px;
        margin-left: auto;
        position: absolute;
        top: -55px;
        right: 7px; }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_sun {
        width: 40px;
        margin-left: auto;
        position: absolute;
        top: -60px;
        right: 7px; }
      .homepage__our-divisions .homepage__our-divisions__logos .homepage__our-divisions__item__logo_helmet {
        width: 90px;
        margin-left: auto;
        position: absolute;
        top: -50px;
        right: -5px; }

.homepage__connect {
  padding-top: 60px;
  width: 100%;
  height: 366px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #3F7793; }
  .homepage__connect .homepage__connect__item {
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #FFF; }
    .homepage__connect .homepage__connect__item__logo {
      height: 40px;
      fill: none;
      stroke: #fff;
      stroke-miterlimit: 10;
      stroke-width: 1px; }
    .homepage__connect .homepage__connect__item__header {
      margin-top: 20px;
      font-family: 'GTWalsheimBold';
      font-size: 22pt;
      line-height: 22pt;
      letter-spacing: -6%; }
    .homepage__connect .homepage__connect__item__text {
      font-family: 'GTWalsheimLight';
      font-size: 10pt;
      line-height: 12pt;
      margin-top: 20px;
      text-align: center; }
    .homepage__connect .homepage__connect__item__link {
      font-family: 'GTWalsheimLight';
      font-size: 12pt;
      line-height: 14pt;
      margin-top: 20px;
      text-decoration: underline; }
